body{
    padding: 0px;
    margin: 0px;
}

/*logo*/
.logo img{
    width: 130px;
    height: 130px;
}

/*barra de pesquisa*/
.searchbar {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    z-index: 3;
    height: 50px;
    background: white;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 30px;
    margin: 0 auto;
    width: auto;
    max-width: 600px;
}

.searchbar:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

.searchbar-wrapper {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}

.searchbar-left {
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #202124;
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-wrapper {
    margin: auto;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    line-height: 20px;
    width: 20px;
}

.searchbar-icon {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}

.searchbar-center {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.searchbar-input-spacer {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
    font-size: 16px;
}

.searchbar-input {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    height: 40px;
    font-size: 20px;
    max-width: 100%;
    width: 100%;
}

.searchbar-right {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row
}

.searchbar-clear-icon {
    margin-right: 12px
}

.voice-search {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 2.8em;
}

/*menu*/
button {
    color: #2655ff;
    text-decoration: none;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

button {
    font-size: 22px !important;
}

button::before {
    margin-left: auto;
}

button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #836cff;
    display: block;
    transition: 0.5s;
}

button:hover::after, button:hover::before {
    width: 100%;
}

.menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.menu-button img{
    width: 30px;
}

.menu-button a {
    text-decoration: none;
    color: rgba(65, 34, 207, 0.66);
}

.menu-button a:hover {
    color: #1c44f3;
}

.menu-button {
    font-size: 25px;
    color: rgba(23, 96, 255, 0.66);
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition: color 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

.menu-button:focus,
.menu-button:hover {
    color: #2a25ff;
}

.menu-button:focus:after,
.menu-button:hover:after {
    width: 100%;
    left: 0%;
}

.menu-button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #3049ff;
    transition: width 400ms cubic-bezier(0.25, 0.8, 0.25, 1), left 400ms cubic-bezier(0.25, 0.8, 0.25, 1);
}

/*whatsapp*/
 .container {
        display: flex;
        align-items: center;
        gap: 30px;
        background: #ffffff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        margin-bottom: 40px;
    }

    .logoo img {
        width: 150px;
        height: auto;
    }

    .info {
        font-size: 20px;
        line-height: 1.6;
    }

    .info h1 {
        font-size: 32px;
        color: #00cc66;
        margin-bottom: 15px;
    }

    .banner {
        background: linear-gradient(90deg, #6a0dad, #1e90ff, #00cc66);
        text-align: center;
        padding: 25px;
        border-radius: 12px;
    }

    .banner h2 {
        font-size: 25px;
        color: white;
        margin-bottom: 20px;
    }

    .banner a {
        display: inline-block;
        padding: 12px 25px;
        background-color: white;
        color: #6a0dad;
        font-size: 20px;
        font-weight: bold;
        border-radius: 8px;
        text-decoration: none;
    }

    .banner a:hover {
        background-color: #f0f0f0;
    }

    .video-description {
        font-size: 20px;
        line-height: 1.6;
        color: whitesmoke;
    }

/*rodape*/
footer {
    background-color: rgba(11, 70, 197, 0.66);
    color: #ffffff;
    padding: 1rem 0;
    margin-top: 1rem;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer p{
    font-weight: bold;
}

footer .me-2 {
    margin-right: 8px;
}

/*!*botoesrodape*!*/
botoesrodape {
    font-size: 20px;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

botoesrodape:focus,
botoesrodape:hover {
    color: #fff;
}

botoesrodape:focus:after,
botoesrodape:hover:after {
    width: 100%;
    left: 0%;
}

botoesrodape:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/*redessociais*/
.card-redesocial {
    display: flex;
    height: 70px;
    width: 270px;
}

.card-redesocial svg {
    width: 50%;
    height: auto;
    font-size: 24px;
    transition: opacity 0.25s;
    z-index: 2;
    cursor: pointer;
}

.card-redesocial .social-link1, .card-redesocial .social-link2, .card-redesocial .social-link3, .card-redesocial .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
}

.card-redesocial .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.4s linear;
}

.card-redesocial .social-link2:hover {
    background-color: #00ccff;
    animation: bounce_613 0.4s linear;
}

.card-redesocial .social-link3:hover {
    background-color: #3b5998;  /* Facebook Blue */
    animation: bounce_613 0.4s linear;
}

.card-redesocial .social-link4:hover {
    background-color: #12a50b;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Responsivo */
@media (max-width: 576px) {
  .searchbar {
    width: 100%;
    margin: 10px 0;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-button {
    width: 100%;
    margin-bottom: 5px;
  }

  .banner {
    padding: 20px;
  }

  .container .logoo img {
    max-width: 100px;
  }

  .container {
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 15px;
    width: 90%;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
}
